<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello you are logged in</h1>

    <a href="{{url_for('new_application')}}">Click here to apply</a><br>
    <a href="{{url_for('view_my_application')}}">Click here to view application</a><br>
    <a href="{{url_for('view_my_application_status')}}">Click here to view application status</a><br>   
    <a href="{{url_for('logout')}}">Click here to logout</a><br>


</body>
</html>