<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
    <style type="text/css">
      body{
      font-family: Calibri;
      font-size: 12pt;
      }
    </style>

</head>
<body style = "background: url(https://cdn.pixabay.com/photo/2017/03/30/13/56/turquoise-2188530__340.jpg); background-size: 100%;">
    <h1><center>Application form</center></h1><br>

    <form method="POST" action="{{url_for('addtoformtable',user_id=user)}}"><center>

        First Name<br>
        <input type = "text" name = "firstname" /></br><br>

        Last Name<br>
        <input type = "text" name = "lastname" /></br><br>
        
        Home Address<br>
        <textarea name = "address" ></textarea><br><br>

        <!--Email Address<br>
        <input type = "text" name = "email" /></br> -->

        Discipine (Select from the options below)<br>
        <label for="discipline"></label>
        <select name="discipline" id="discipline">
          <option value="Engineering">Engineering</option>
          <option value="IT">IT</option>
          <option value="Medicine">Medicine</option>
          <option value="Teaching">Teaching</option>
        </select>
        <br><br>
        
        GPA(%)<br>
        <input type = "text" name = "gpa" /><br><br>

        <input type = "submit" value = "submit" /><br>

      </center></form>

</body>
</html>