<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formmm</title>
</head>
<body>
    <h1>Application form</h1><br>

    <form method="POST" action="{{url_for('addtoformtable')}}">

        First Name<br>
        <input type = "text" name = "firstname" /></br>

        Last Name<br>
        <input type = "text" name = "lastname" /></br>
        
        Home Address<br>
        <textarea name = "address" ></textarea><br>

        Email Address<br>
        <input type = "text" name = "email" /></br>

        Discipine<br>
        <input type = "text" name = "discipline" /><br>
        
        GPA<br>
        <input type = "text" name = "gpa" /><br>

        <input type = "submit" value = "submit" /><br>

     </form>

</body>
</html>