<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loginnnnn</title>
    <style type="text/css">
        body{
        font-family: Calibri;
        font-size: 15pt;
        }
    
    </style>
</head>

<body style = "background: url(https://media.istockphoto.com/videos/gradient-background-reminiscent-of-the-fluctuation-of-the-surface-of-video-id1282239766?s=640x640); background-size: 100%;">
    <h2><center>Login<center></h2>

    <form method="POST" action=""><center>
        {{ form.hidden_tag() }}
        {{ form.emailaddress }}<br>
        {{ form.password }}<br>
        {{ form.submit }}<br>
    </center></form><br>

    <a href="{{url_for('home')}}"><h4><center>Go to Home Page</center></h4></a>
    <a href="{{url_for('register')}}"><h4><center>Don't have an account? Click here to register</center></h4></a><br>
  
</body>
</html>