<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - University of the Hardknocks Application System</title>
</head>

<body>
    <h1>Welcome to University of the Hardknocks Application System</h1>
    <h2>Register</h2>
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>

    <a href="{{url_for('home')}}">Go to Home Page</a><br>
    <a href="{{url_for('login')}}">Already registered? Log in here!</a><br>
</body>
</html>