<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
    <style type="text/css">
        body{
        font-family: Calibri;
        font-size: 12pt;
        }
        table, th, td {
            border:1px solid black;
        }
        table.center {
              margin-left: auto; 
              margin-right: auto;
        }
    </style>
</head>

<body style = "background: url(https://cdn.pixabay.com/photo/2017/03/30/13/56/turquoise-2188530__340.jpg); background-size: 100%;">
    <h1><center>My Application</center></h1>
    <table class="center", width=50%>
        <tr>
            <th>Fisrtname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Discipline</th>
            <th>GPA(%)</th>
            <th>Status</th>
        </tr>
            {% for item in items %}
            <tr>
                
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
            </td>
            {% endfor %}
        </table>
    <a href = "{{url_for('dashboard')}}" ><h3><center>Back</center></h3></a> 
</body>
</html>